.schedule .filters {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;
    margin-top: 50px;
}

.schedule .filters li {
    color: #ffffffff;
    padding: 10px 25px;
    background: #191919;
    transition: 0.3s;
    text-transform: uppercase;
    cursor: pointer;
}

.schedule .filters li:hover,
.schedule .filters li:active {
    background: var(--primary);
}

.cards-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 card per baris */
    gap: 40px; /* jarak antar card */
}

/* Responsive */
@media (max-width: 1200px) {
    .cards-row {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 992px) {
    .cards-row {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .cards-row {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .cards-row {
        grid-template-columns: 1fr;
    }
}

/* Pastikan setiap card menyesuaikan ukuran parent */
.movie-card {
    width: 100%;
    height: 95%;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 50px auto 70px;
}

.pagination {
    padding: 16px 26px;
    gap: 12px;

    background: rgba(25, 25, 25, 0.65);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);

    border-radius: 22px;
    border: 1px solid rgba(255, 255, 255, 0.08);

    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.7);
}

.pagination-btn {
    min-width: 46px;
    height: 46px;

    background: rgba(255, 255, 255, 0.12) !important;
    border-radius: 12px !important;
    border: 1px solid rgba(255, 255, 255, 0.15) !important;

    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.5px;

    transition: all 0.25s ease;
}

/* Hover */
.pagination-btn:hover {
    transform: translateY(-2px);
    background: rgba(255, 255, 255, 0.25) !important;
}
/* Active page */
.pagination-btn.active {
    background: linear-gradient(135deg, #ff3700, #ff6a00) !important;
    border: none !important;
    box-shadow: 0 8px 30px rgba(255, 90, 0, 0.6);
}
/* Disabled */
.pagination-btn:disabled {
    opacity: 0.35;
    cursor: not-allowed;
    transform: none;
}
