header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    transition: 0.5s;
    z-index: 10000;
}

header.scrolled {
    background-color: rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid var(--primary);
    border-image: linear-gradient(
            90deg,
            transparent,
            var(--primary),
            transparent
        )
        30;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px); /* untuk Safari */
    padding: 10px 100px;
}

.logo {
    font-family: 'Racing Sans One', cursive;
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 800;
    text-decoration: none;

    background: linear-gradient(90deg, #ffffff, var(--primary), #ffffff);
    background-size: 300% 100%;
    background-position: 0% 50%;

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    animation: logoGradientMove 6s ease-in-out infinite;

    /* soft 3D shadow */
    text-shadow: 0.5px 0.5px 0 rgba(0, 0, 0, 0.058), /* depth tipis */ 
        1px 1px 0 rgba(0, 0, 0, 0.28),/* depth utama */ 
        0 0 10px rgba(0, 0, 0, 0.14),/* ambient glow */
         0 0 18px rgba(255, 55, 0, 0.5); /* glow warna */
}

.logo:hover {
    background-position: 100% 0;
    animation-play-state: paused;
    transform: translateY(-1.5px);

    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25),
        0 0 14px rgba(255, 255, 255, 0.5), 0 0 26px rgba(255, 55, 0, 0.7);
}
header.scrolled .logo {
    text-shadow: 0.5px 0.5px 0 rgba(0, 0, 0, 0.3),
        0 0 12px rgba(255, 55, 0, 0.7);
}
@keyframes logoGradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.nav {
    display: flex;
}

.user-profile-container {
    position: relative;
    display: inline-block;
}

.profile-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    padding: 10px;
    min-width: 150px;
    z-index: 10001;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.dropdown-menu .username {
    color: white;
    font-size: 14px;
    padding: 4px 8px;
    text-align: center;
}

.dropdown-menu button {
    background-color: #ff3700;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.dropdown-menu button:hover {
    background-color: #e50914;
}
